<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    <select v-model="selected">
        <option v-for="option in options" v-bind:value="option.value">
            {{ option.text }}
        </option>
    </select>
    <span>Selected: {{ selected }}</span>

    <br>

    <!-- 'picked' is a string "a" when checked -->
    <input type="radio" v-model="picked" value="a">

    <input type="checkbox" v-model="toggle">

    <select v-model="selected">
        <option value="abc">ABC</option>
    </select>

    <br>
    <p>Checkbox and Radio</p>
    <input type="checkbox" 
        v-model="toggle"
        v-bind:true-value="a" 
        v-bind:false-value="b" >

    <input type="radio" v-model="pick" v-bind:value="a">
    <br>

    <p> inline object literal in Select Options</p>
    <select v-model="selected">
        <!-- inlin3 object literal -->
        <option v-bind:value="{ number: 123}">123</option>
    </select>
    <br>

    <p>.lazy</p>
    <input type="text" v-model.lazy="msg">
    <br>
    <span>{{ msg }}</span>

    <input type="number" v-model.number="age">




    

  </div>


  <script>
    var app = new Vue({
      el: '#app',
      data: {
          age: 23,
          msg: '',
          a: 'a',
          b: 'b',
          selected: { number: 123 },
          options: [
              { text: 'One', value: 'A' },
              { text: 'Two', value: 'B' },
              { text: 'Three', value: 'C' },
              
          ],
          picked: 'a',
          pick: 'a',
          toggle: 'b',
      }
    })

  </script>
</body>
</html>